/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Theme Flexibase css file.
 *
 * @package    theme_flexibase
 * @author     2015 Richard Oelmann
 * @copyright  2015 R. Oelmann
 * @copyright  Bootstrap - 2014 Bas Brands
 *             Essential - Julian Ridden, Gareth Barnard;
 *             Elegance - Julian Ridden, Danny Wahl;
 *             BCU - Jez H, Mike Grant
 *             Decaf - Paul Nichols
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    background-size: 100% auto;
    display: [[logodisplay]];
    float: left;
    height: [[logoheight]];
    margin: 10px 0;
    padding: 0;
    width: [[logowidth]];
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    float: right;
}
.navbar-image {
    background: url([[setting:minilogo]]) no-repeat;
    background-size: 100% auto;
    display: [[minilogodisplay]];
    float: left;
    height: [[minilogoheight]];
    width: [[minilogowidth]];
    margin-right:5px;
}
.dir-rtl .navbar-image {
    background: url([[setting:minilogo]]) no-repeat;
    float: right;
}
#page-login-index .maincontentwrap {
    background:url([[setting:loginbg]]) no-repeat;
    background-size: 100% 100%;
    border-radius:6px;
    height: [[loginbgheight]];
    width: [[loginbgwidth]];

}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]