/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Theme Flexibase css file.
 *
 * @package    theme_flexibase
 * @author     2015 Richard Oelmann
 * @copyright  2015 R. Oelmann
 * @copyright  Bootstrap - 2014 Bas Brands
 *             Essential - Julian Ridden, Gareth Barnard;
 *             Elegance - Julian Ridden, Danny Wahl;
 *             BCU - Jez H, Mike Grant
 *             Decaf - Paul Nichols
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('[[font:theme|glyphicons-halflings-regular.eot]]');
  src: url('[[font:theme|glyphicons-halflings-regular.eot]]?#iefix') format('embedded-opentype'),
       url('[[font:theme|glyphicons-halflings-regular.woff]]') format('woff'),
       url('[[font:theme|glyphicons-halflings-regular.ttf]]') format('truetype'),
       url('[[font:theme|glyphicons-halflings-regular.svg]]') format('svg');
}
body {
    margin-top:25px;
}
body.flexibase_no_awesomebar {
    margin-top:0;
}
#region-main {
    background-color: #fff;
    border: 1px solid #b6c3ea;
    border-radius: 6px;
}
input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input {
    background-color: #001122;
    border-color: #001122;
    color: #fff;
}
.navbar {
    margin-bottom: 10px;
}
.navbar-right .dropdown-menu {
    z-index: 2000;
}
.navbar-collapse {
    padding-left:5px;
    padding-right:25px;
    }
body.has_dock .navbar-collapse {
    padding-left:40px;
}
.navbar-nav > li > a {
    padding-left:0;
    padding-right:30px;
}
.navbarbranding {
    border-radius:0;
    margin-bottom:0;
}
#dock .dockeditem_container {
    margin-top:67px;
}
#dockeditempanel {
    min-width:250px;
}
.block_docked .content {
    padding: 4px;
}
.dockeditempanel_bd, .dockeditempanel_hd {
    border:1px solid #000;
}
hr.sep {
    margin-top:0;
    margin-bottom:0;
}
.navbar-right {
    margin-right:85px;
}
.navbaruserpicture {
    position:absolute;
    top:30px;
    right:5px;
}
.flexibase_no_awesomebar .navbaruserpicture {
    position:absolute;
    top:5px;
    right:5px;
}
.navbaruserpicture img {
    height:100px;
    width:100px;
    border-radius:30px;
    border: 4px ridge #fff;
}
.socials {
    margin-right:80px;
}
.socials .socialicon {
    float:right;
}
.headerlogo {
    padding-left:5px;
}
body.has_dock .moodleheader .container-fluid {
    padding-left:0px;
}
.navbar-header {
    margin:0 5px !important;
}
@media (max-width:1200px) {
    .navbaruserpicture img {
        height:75px;
        width:75px;
        border-radius:25px;
        border: 2px ridge #fff;

    }
    .socials {
        margin-right:65px;
    }
    .navbar-right {
        margin-right:65px;
    }
}
@media (max-width: 768px) {
    .socials {
        margin-right:0;
    }
    .navbar-right {
        margin-right:-15px;
    }
}
.loginbox .loginpanel {
    margin-bottom:0;
    filter:alpha(opacity=90); /* IE */
    -moz-opacity:0.9; /* Mozilla */
    opacity:0.9;
}
.loginbox .signuppanel {
    background-color: #fff;
    filter:alpha(opacity=80); /* IE */
    -moz-opacity:0.8; /* Mozilla */
    opacity:0.8;
    border-radius:6px;
}
#awesomebar ul#awesomeHomeMenu > li > span, #awesomebar ul#awesomeHomeMenu > li > a {
    padding: 2px 8px;
}


/* RTL Adjustments
 * --------------- */

.dir-rtl .dropdown-submenu > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    margin-right: -1px;
    right: 100%;
}
.dir-rtl .dropdown-submenu > a:after {
    border-color: transparent rgba(0, 0, 0, 0.15) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: " ";
    display: block;
    float: left;
    height: 0;
    margin-left: -10px;
    margin-top: 5px;
    width: 0
}
.dir-rtl .form-item .form-label, .dir-rtl .mform .fitem div.fitemtitle {
    float: right;
    text-align: left;
}
.dir-rtl .mform fieldset.collapsed legend a.fheader {
    background-image: url([[pix:core|t/collapsed_rtl]]);
}
.mform fieldset.collapsible legend a.fheader {
    margin-left: -5px;
}
.dir-rtl .mform fieldset.collapsible legend a.fheader {
    background-position: right center;
    margin-left: 0;
    margin-right: -5px;
    padding: 0 20px 0 5px;
}
.mform .fitem .fitemtitle {
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
.dir-rtl .mform .iconhelp {
    float: right;
    margin-right:4px;
}
.dir-rtl .collapsible-actions .collapseexpand {
    background-image: url([[pix:core|t/collapsed_rtl]]);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
}
.dir-rtl th {
    text-align: right;
}
dir-rtl .userenrolment .col_userdetails .subfield_picture {
    float: right;
    margin: 0 5px;
}
.dir-rtl .ygtvtn, .dir-rtl .ygtvtm, .dir-rtl .ygtvtmh, .dir-rtl .ygtvtmhh, .dir-rtl .ygtvtp, .dir-rtl .ygtvtph, .dir-rtl .ygtvtphh, .dir-rtl .ygtvln, .dir-rtl .ygtvlm, .dir-rtl .ygtvlmh, .dir-rtl .ygtvlmhh, .dir-rtl .ygtvlp, .dir-rtl .ygtvlph, .dir-rtl .ygtvlphh, .dir-rtl .ygtvdepthcell, .dir-rtl .ygtvok, .dir-rtl .ygtvok:hover, .dir-rtl .ygtvcancel, .dir-rtl .ygtvcancel:hover {
    background-image: url([[pix:core|yui2-treeview-sprite-rtl]]);
}
caption {
    text-align: center;
}

.dir-rtl .navbar-header {
    float: right;
}
.dir-rtl .navbar-right {
    float: left !important;
    margin-left: 85px;
}
.dir-rtl .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 0;
}
.dir-rtl .navbar-nav > li {
    float: right;
}
.dir-rtl .navbaruserpicture {
    left: 105px;
    right:100%;
}
body.has_dock.dir-rtl .navbar-collapse {
    padding-right: 40px;
}
.dir-rtl header .pull-right {
    float:left !important;
}
.dir-rtl header .pull-left {
    float:right !important;
}
.dir-rtl .socials {
    margin-right:0;
    margin-left:85px;
}
.dir-rtl .socialicon {
    float:left;
}
.dir-rtl .dropdown-menu {
    font-size: 14px;
    list-style: outside none none;
    text-align: right;
}
.dir-rtl .navbar-nav {
    float: right;
}
.dir-rtl .close {
    float:left;
}
.dir-rtl .block .header .block_action {
    float: left;
}
.dir-rtl .breadcrumb-nav {
    float: right;
}
.dir-rtl .breadcrumb-button {
    float: left;
}
/* Hide email column from .... */
/* Grader report table */
#user-grades tbody tr th.header.userfield.useremail{
    display: none;
}
/* Basic, Interactions, Objectives report table */
#attempts thead tr th.header.c2, tbody tr td.cell.c2{
    display: none;
}

/* Changes for quiz (will override style for each quiz/question) MORE THEME

//          QUESTION BLOCK          //

// Make quiz form all screen size//
.path-mod-quiz #region-main{
    position: absolute;
}
// Hide table above questions //
.path-mod-quiz #region-main .quizreviewsummary{
    display: none;
}
// Hide block besides question //
.path-mod-quiz .info{
    display: none;
}
// Increase the block question size //
.path-mod-quiz .content {
    margin: 0 0 0 -0.5em;
}
// display next button on right side of the page //
.path-mod-quiz .submitbtns input{
    margin-left: 1200px;
    background-image: url(../theme/more/pix/k_arrow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F3F7F6;
}
.path-mod-quiz .submitbtns .arrow_link{
   
}
//.path-mod-quiz .submitbtns a span.arrow_text{
   display: inline-block;
}//
.path-mod-quiz .submitbtns a span.arrow{
   display: none;
}


//          NAVIGATION BLOCK          //

// Change navigation block to below quiz form //
.path-mod-quiz #mod_quiz_navblock{
    position: inherit;//relative//
    margin-top: 240px;
    width: 1295px;
    text-align: center;
}
// hide label for "QUIZ NAVIGATION" //
.path-mod-quiz #mod_quiz_navblock .title{
    display: none;
}
// Increase navigation question blocks 
.content .qn_buttons .multipages .qnbutton//
.path-mod-quiz #mod_quiz_navblock .qnbutton{//.notyetanswered
    padding: 14px;
    margin-right: 20px;
    border-radius: 15px;
}
*/