/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]


/* Hide email column from .... */
/* Grader report table */
#user-grades tbody tr th.header.userfield.useremail{
    display: none;
}
/* Basic, Interactions, Objectives report table */
#attempts thead tr th.header.c2, tbody tr td.cell.c2{
    display: none;
}

/*
#user-grades tbody tr td.cell.c0{
    background: orange;
}
*/



/* --------------------------------------------------
Changes for quiz (will override style for each quiz/question) MORE THEME

//          QUESTION BLOCK          //

// Make quiz form all screen size//
.path-mod-quiz #region-main{
    position: absolute;
}
// Hide table above questions //
.path-mod-quiz #region-main .quizreviewsummary{
    display: none;
}
// Hide block besides question //
.path-mod-quiz .info{
    display: none;
}
// Increase the block question size //
.path-mod-quiz .content {
    margin: 0 0 0 -0.5em;
}
// display next button on right side of the page //
.path-mod-quiz .submitbtns input{
    margin-left: 1200px;
    background-image: url(../theme/more/pix/k_arrow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F3F7F6;
}
.path-mod-quiz .submitbtns .arrow_link{
   
}
//.path-mod-quiz .submitbtns a span.arrow_text{
   display: inline-block;
}//
.path-mod-quiz .submitbtns a span.arrow{
   display: none;
}


//          NAVIGATION BLOCK          //

// Change navigation block to below quiz form //
.path-mod-quiz #mod_quiz_navblock{
    position: inherit;//relative//
    margin-top: 240px;
    width: 1295px;
    text-align: center;
}
// hide label for "QUIZ NAVIGATION" //
.path-mod-quiz #mod_quiz_navblock .title{
    display: none;
}
// Increase navigation question blocks 
.content .qn_buttons .multipages .qnbutton//
.path-mod-quiz #mod_quiz_navblock .qnbutton{//.notyetanswered
    padding: 14px;
    margin-right: 20px;
    border-radius: 15px;
}
--------------------------------------------------*/

/* Hide block besides question 
and increases the question block size*/
.que .info {
float: none;
width: auto;
display: none;
}
.que .info > div {
margin-left: 15px;
margin-right: 15px;
}
.que .info > div {
display: inline;
}
.que .content {
margin: 0 0 0 0;
width: auto;
}



/*.path-mod-quiz .submitbtns input{
    margin-left: 1133px;
}
.path-mod-quiz .block .block_fake .content .qn_buttons .multipages a{
    padding: 14px;
}*/

/* for NEXT button */
#responseform div.submitbtns input{
    background: bisque none repeat scroll 0% 0%;
    border: medium none yellow;
    font-style: italic;
    color: burlywood;
    font-size: 17px;
    font-weight: bold;
}
/* for quiz background questions */
#responseform div.formulation{
    background-color: rgba(178, 207, 123, 0.3);
    margin-right: 51px;
    border: 6px solid transparent;
    border-radius: 31px;
    margin-right: 51px;
}

/* For input boxes on Irish questions */
/*#input{
    width: 100px;
    position: relative;
    margin-left: 155px;
}
#input span{
    width: 5px;
}
#input span.input{
    width: 10px;
}
#input .formulation input[type="text"]{
    width: 10px;   
}*/