/**
 * Flexpage Theme
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @copyright Copyright (c) 2009 Moodlerooms Inc. (http://www.moodlerooms.com)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU Public License
 * @package theme_flexpage
 * @author Mark Nielsen
 */

.flexpage_actionbar {
    margin: 5px 10px;
}

.flexpage_prev_next #format_flexpage_next_page {
    display: block;
    float: right;
}

.format_flexpage_tabs {
    margin-top: 5px;
}

/* Makes the target larger for when you are dragging blocks into an empty top region */
.pagelayout-format_flexpage #region-top.block-region,
.pagelayout-format_flexpage #region-top .block-region {
    min-height: 40px;
}

/* Dangerous: change overflow to visible so activity and block edit menus are visible to the user. */
.pagelayout-format_flexpage.editing #page-content #region-top,
.pagelayout-format_flexpage.editing #page-content #region-top .region-content,
.pagelayout-format_flexpage.editing #page-content #region-main,
.pagelayout-format_flexpage.editing #page-content #region-main .region-content,
.pagelayout-format_flexpage.editing #page-content #region-pre,
.pagelayout-format_flexpage.editing #page-content #region-pre .region-content,
.pagelayout-format_flexpage.editing #page-content #region-post,
.pagelayout-format_flexpage.editing #page-content #region-post .region-content {
    overflow: visible;
}

/* Allow menu items to wrap as space can get limited. */
#region-pre .block_flexpagemod_default ul.menu li,
#region-post .block_flexpagemod_default ul.menu li {
    white-space: normal;
}

/* Forces menus to always show under the element that opened it. */
.pagelayout-format_flexpage.editing #region-top .block .title ul.menu[style],
.pagelayout-format_flexpage.editing #region-top .block .content ul.menu[style],
.pagelayout-format_flexpage.editing #region-main .block:first-child .title ul.menu[style],
.pagelayout-format_flexpage.editing #region-main .block:first-child .content ul.menu[style],
.pagelayout-format_flexpage.editing #region-pre .block:first-child .title ul.menu[style],
.pagelayout-format_flexpage.editing #region-pre .block:first-child .content ul.menu[style],
.pagelayout-format_flexpage.editing #region-post .block:first-child .title ul.menu[style],
.pagelayout-format_flexpage.editing #region-post .block:first-child .content ul.menu[style] {
    top: inherit !important;
}


/* SNAS AGUS BLAS Theme styles */

html, body {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2rem;
}
input[type="submit"] {
    font-size: inherit;
}
.singlebutton div {
    margin: 0;
}


#page-header .container {
    position: relative;
}
.main-header {
    height: 300px;
    background-color: white;
    background-image: url([[pix:theme|header-image]]);
    background-repeat: no-repeat;
    background-position: top 5px right 0px;
    position: relative;
    overflow: auto;
}
.headermenu, .navbar, .navbutton {
    font-size: 0.9rem;
    position: absolute;
}
.headermenu {
    bottom: 40px;
    right: 50px;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 6px 12px;
}
.navbutton {
    margin: 0;
    top: 20px;
    right: 50px;
}

.main-header .logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#page-content .container #region-post-box, #page-content .container #region-main {
    margin-left: 0;
}
#page-content .container #region-pre {
    width: auto;
}

#page-content {
    padding: 50px 0;
    background-image : url([[pix:theme|background-image]]);
}

.pageClass-0 #page-content {
    background-color: #bbb;
}
.pageClass-0 .block_flexpagenav .block_tree li ul a {
    background-color: #bbb;
    color: white;
}

.pageClass-1 #page-content {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06bbc6+0,8dc63f+100 */
    background: #06bbc6; /* Old browsers */
    background: url([[pix:theme|background-image]]), -moz-linear-gradient(top,  #06bbc6 0%, #8dc63f 100%); /* FF3.6-15 */
    background: url([[pix:theme|background-image]]), -webkit-linear-gradient(top,  #06bbc6 0%,#8dc63f 100%); /* Chrome10-25,Safari5.1-6 */
    background: url([[pix:theme|background-image]]), linear-gradient(to bottom,  #06bbc6 0%,#8dc63f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06bbc6', endColorstr='#8dc63f',GradientType=0 ); /* IE6-9 */
}
.pageClass-1 a {
    color: #06bbc6;
    /*display: block;*/
}
.pageClass-1 .block_flexpagenav .contains_branch ul li {
    background-color: #06bbc6;
}


/*Unit 1 */
.pageClass-2 #page-content, .pageClass-2 .block_flexpagenav .block_tree li ul a {
    background-color: #5ec8d3;
}
.pageClass-2 a {
    color: #5ec8d3;
}


/*Unit 2 */
.pageClass-3 #page-content, .pageClass-3 .block_flexpagenav .block_tree li ul a {
    background-color: #fdaf18;
}
.pageClass-3 a {
    color: #fdaf18;
}

/*Unit 3 */
.pageClass-4 #page-content, .pageClass-4 .block_flexpagenav .block_tree li ul a {
    background-color: #dc5075;
}
.pageClass-4 a {
    color: #dc5075;
}

/*Unit 4 */
.pageClass-5 #page-content, .pageClass-5 .block_flexpagenav .block_tree li ul a {
    background-color: #acba37;
}
.pageClass-5 a {
    color: #acba37;
}

/*Unit 5 */
.pageClass-6 #page-content, .pageClass-6 .block_flexpagenav .block_tree li ul a {
    background-color: #806e9b;
}
.pageClass-6 a {
    color: #806e9b;
}

/*Unit 6 */
.pageClass-7 #page-content, .pageClass-7 .block_flexpagenav .block_tree li ul a {
    background-color: #01b3ab;
}
.pageClass-7 a {
    color: #01b3ab;
}

/*Unit 7 */
.pageClass-8 #page-content, .pageClass-8 .block_flexpagenav .block_tree li ul a {
    background-color: #f57f22;
}
.pageClass-8 a {
    color: #f57f22;
}

/*Unit 8 */
.pageClass-9 #page-content, .pageClass-9 .block_flexpagenav .block_tree li ul a {
    background-color: #9b204e;
}
.pageClass-9 a {
    color: #9b204e;
}

/*Unit 9 */
.pageClass-10 #page-content, .pageClass-10 .block_flexpagenav .block_tree li ul a {
    background-color: #6dae43;
}
.pageClass-10 a {
    color: #6dae43;
}

/*Unit 10 */
.pageClass-11 #page-content, .pageClass-11 .block_flexpagenav .block_tree li ul a {
    background-color: #804e82;
}
.pageClass-11 a {
    color: #804e82;
}

/*Unit 11 */
.pageClass-12 #page-content, .pageClass-12 .block_flexpagenav .block_tree li ul a {
    background-color: #169dbc;
}
.pageClass-12 a {
    color: #169dbc;
}

/*Unit 12 */
.pageClass-13 #page-content, .pageClass-13 .block_flexpagenav .block_tree li ul a {
    background-color: #f8981d;
}
.pageClass-13 a {
    color: #f8981d;
}

/*Unit 13 */
.pageClass-14 #page-content, .pageClass-14 .block_flexpagenav .block_tree li ul a {
    background-color: #f16b78;
}
.pageClass-14 a {
    color: #f16b78;
}

/*Unit 14 */
.pageClass-15 #page-content, .pageClass-15 .block_flexpagenav .block_tree li ul a {
    background-color: #abc452;
}
.pageClass-15 a {
    color: #abc452;
}

/*Unit 15 */
.pageClass-16 #page-content, .pageClass-16 .block_flexpagenav .block_tree li ul a {
    background-color: #c475a3;
}
.pageClass-16 a {
    color: #c475a3;
}

/*Unit 16 */
.pageClass-17 #page-content, .pageClass-17 .block_flexpagenav .block_tree li ul a {
    background-color: #8dc63f;
}
.pageClass-17 a {
    color: #8dc63f;
}



.navbar {
    width: 100%;
    top: -75px;
    right: 14px;
}
.breadcrumb {

    margin: 0px;
    margin-left: 28px;
    border-radius: 2px;
    border: 2px dotted #bbb;
    padding: 10px 0px 10px 30px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
}

.breadcrumb > li + li:before {
    display: none;
}
.breadcrumb a {
    color: #06bbc6;
}
.breadcrumb ul:last-child li:last-child a {
    color: #444;
    font-weight: 700;
}
.breadcrumb ul {
    margin-bottom: 0;
    list-style: none;
    margin: 0;
}
.breadcrumb li {
    margin-bottom: 0;
    display: inline-block;
}

.breadcrumb li:after {
    content: '>';
    color: #444;
    font-weight: 800;
    padding: 0 10px;
}
.breadcrumb li:last-child:after {
    content: '';
    padding: 0px;
}
.arrow {
    display: none;
}

.sidebar .block {
    border-radius: 0;
    background-color: #ddd;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    letter-spacing: -1px;
}

.sidebar .header {
    padding: 0;
    border-bottom: 3px solid #404041;
    background-color: white;
    margin-left: -5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}



.block_flexpagenav .block_tree li {
    background-color: white;
    padding: 0;
    margin-bottom: 2px;
}
.block_flexpagenav .block_tree .tree_item {
    padding-left: 0;
    margin: 2px 0;
}
.block_flexpagenav .block_tree li a {
    padding: 8px 12px;
    border-left: 4px solid #838383;
    display: block;
    text-decoration: none;
}
.block_flexpagenav .block_tree li a:hover {
    background-color: #404040;
    color: white;
    font-weight: bold;
}
.block_flexpagenav .block_tree li img {
    display: none;
}
.block_flexpagenav .contains_branch {
    background-color: transparent;
}
.block_flexpagenav .contains_branch .branch {
    background-color: #404040;
    background-image: none;
}
.sidebar .block_flexpagenav .contains_branch {
    background-color: transparent;
    border-left: 0;
}
.sidebar .block_flexpagenav .contains_branch ul {
    padding-left: 0;
    background-color: white;
}
.sidebar .block_flexpagenav .contains_branch ul li a {
    border-left: 0;
    color: white;
}
.sidebar .block_flexpagenav .contains_branch ul li {
    opacity: .65;
    border-left: 14px solid #404040;
}
.sidebar .block_flexpagenav .contains_branch .current_branch {
    opacity: 1;
 }


.block_flexpagenav .contains_branch .branch a {
    color: white;
    font-weight: bold;
    border-left: 4px solid #404040;
}
.block_flexpagenav .block_tree .tree_item.branch {
    background-image: none;
}

/*.block_flexpagenav .block_tree .tree_item {*/
    /*margin: 2px 0;*/
/*}*/
/*.block_flexpagenav .block_tree .active_tree_node {*/
    /*background-color: #404040;*/
/*}*/
/*.block_flexpagenav .block_tree .active_tree_node a {*/
    /*color: white;*/
    /*border-left: none;*/
/*}*/

/*.block_flexpagenav .block_tree li ul {*/
    /*padding-left: 0;*/
/*}*/
/*.block_flexpagenav .block_tree li ul a {*/
    /*border-left: 14px solid #404040;*/
/*}*/



.block .header .block_action img {
    /*display: none;*/
}
.block .header h2 {
    font-weight: 700;
    font-size: 1.3em;
    padding: 12px 15px;
}
.block .content {
    padding: 14px 7px 10px 7px;

}
.block .list {
    padding: 0;
    margin: 0;
}
.block.invisible {
    opacity: 0.5;
}


#page-footer {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #464646;
    color: #e2e2e2;
}
.footer_sections {
    padding: 50px 0;
    display: table;
}


.footer_section:last-child {
     border-right: none;
 }
.footer_header {
    border-bottom: 1px solid #909090;
    display: inline-block;
    width: 80%;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.footer_content {
    padding: 22px 0 0 0;
}
.footer_content p {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 12px;
}
#page-footer .logininfo {
    padding: 15px 0;
    background-color: #333;
}


.block_html {
    background-color: transparent;
    border: none;
}
.block_html .header {
    padding: 0;
    color: white;
    background-color: transparent;
}
.block_html .content {

    background-color: white;
    padding: 30px 30px;
    border: 2px dotted #bbb;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}
.block_html .content p {
    line-height: 1.5rem;
    margin: 0 0 20px;
}
.block_html .header h2 {
    padding: 10px 30px 20px 30px;
    letter-spacing: -1px;
    font-size: 2.2em;
    font-weight: 600;
    text-shadow: 3px 3px 0px rgba(0,0,0,.25);
}






@media (min-width: 992px) {
    .footer_sections [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
    .footer_section {
        border-right: 1px solid white;
    }
}


.custom_menu {
    display: none;
}
.custom_menu ul {
    list-style: none;
    margin: 0;
}
.custom_menu li {
    float: left;
    opacity: .75;
}

.custom_menu .current_page {
    opacity: 1;
    border-bottom: 1px solid #404040;
}

.custom_menu li a{
    padding: 15px 20px;
    background-color: #404040;
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 1px;
}
.custom_menu li:hover {
    opacity: 1;
}
.playerSurround img {
    background-color: #404040;
    padding: 15px;
}



#page-mod-scorm-player #page-content {
    padding: 0;
}
#page-mod-scorm-player #page-content h2,
#page-mod-scorm-player #page-content #scorm_toc,
#page-mod-scorm-player #scorm_toc_toggle_btn,
#page-mod-scorm-player #scorm_navpanel,
#page-mod-scorm-player #scorm_content,
#page-mod-scorm-player #scormpage #scorm_toc_toggle {
    display: none;
    width: 0;
}

#page-mod-scorm-player #scormpage #scorm_object,
#page-mod-scorm-player #scormpage #scorm_content {
    width: 100%;
    height: 100%;
}