@charset "utf-8";
/* CSS Document */
body {
	border-top:5px solid #000;	
	}
a {
    color:[[setting:linkcolor]];
}
.block .title h2 {
    color:[[setting:blockheadercolor]];
    background:[[setting:blockheaderbg]];
    padding:0px;
}
/*block header*/
#region-post-box .block-region .block .header {
    color:[[setting:blockheadercolor]];
    background:[[setting:blockheaderbg]];
    padding:0px;
}
/*-- right block content   --*/
.block-region .block .content {
    border-radius:2px;
    border:[[setting:blockbordercolor]] solid 2px;
}
a:link {        /* Defining all link styles*/
    color:[[setting:linkcolor]];
}
a:visited {        /* Setting all visited link styles */
    color:[[setting:linkcolor]];
}
a:hover {        /* Setting all rollover link styles */
    color:[[setting:linkhovercolor]];
}
a:active {        /* Setting all active link styles */
    color:[[setting:linkcolor]];
}
#custommenu {
    /*background:[[setting:menubg]];
    */}
#custommenu div.yui3-menu.custom_menu_submenu .yui3-menu-content a, #custommenu #custom_menu_1  .yui3-menu-content li a, #custommenu div.yui3-menu.custom_menu_submenu .yui3-menu-content, #custommenu #custom_menu_1  .yui3-menu-content li, .yui3-skin-sam #page .yui3-menu-label, .yui3-skin-sam #page .yui3-menuitem-content {
    color:[[setting:menucolor]];
    
}
#custommenu div.yui3-menu.custom_menu_submenu .yui3-menu-content a:hover, #custommenu #custom_menu_1  .yui3-menu-content li a:hover, #custommenu div.yui3-menu.custom_menu_submenu .yui3-menu-content:hover, #custommenu #custom_menu_1  .yui3-menu-content li:hover, .yui3-skin-sam #page .yui3-menu-label, .yui3-skin-sam #page .yui3-menuitem-content:hover {	
    color: [[setting:menucolorhover]];/*#fff*/
    background:[[setting:menulinkhover]];/*#468068;*/
}

body #page-footer {
    background:[[setting:footerbg]];
}
/** Custom CSS **/
[[setting:customcss]]

/* Hide block besides question 
.path-mod-quiz .info{
    display: none;
}*/

.que .info {
float: none;
width: auto;
}
.que .info > div {
margin-left: 15px;
margin-right: 15px;
}
.que .info > div {
display: inline;
}
.que .content {
margin: 0 0 0 0;
width: auto;
}
.que .info {
   background-color: #eee;
   border: 1px solid #bce8f1;
   border-radius: 4px;
   margin-bottom: -5px;
   padding: 8px;
   }
.que h3.no {
   display: inline;
   font-size: 12px;
   line-height: 1;
   margin-left: 10px;
}