.path-grade-report-user #graded_users_selector {
    float: inherit;
    margin-bottom: 5px;
}
.path-grade-report-user #graded_users_selector .singleselect label {
    display: inline-block;
}

.path-grade-report-user .user-grade {
    width: 100%;
    border: 1px solid;
}
.path-grade-report-user .user-grade thead th {
    vertical-align: bottom;
}
.path-grade-report-user .user-grade th {
    text-align:left;
}
.path-grade-report-user .user-grade td {
    min-width: 4.5em;
    vertical-align: top;
}
.dir-rtl.path-grade-report-user .user-grade td {
    direction: ltr;
}
.dir-rtl.path-grade-report-user table.user-grade {
    border-collapse: separate;
}
.path-grade-report-user .user-grade .b1l {
    padding: 0;
    width:24px;
    min-width: 24px;
}
.path-grade-report-user .user-grade tbody .column-itemname {
    padding-left: 0;
    padding-right: 8px
}
.path-grade-report-user .user-grade .column-itemname.item,
.path-grade-report-user .user-grade .gradeitemdescription {
    font-weight: normal;
    padding-left: 24px;
}
.path-grade-report-user .user-grade .column-itemname.baggt,
.path-grade-report-user .user-grade .column-itemname.baggb {
    padding-left: 24px;
}
.path-grade-report-user .user-grade .baggt,
.path-grade-report-user .user-grade .baggb {
    font-weight: bold;
}

.dir-rtl.path-grade-report-user #graded_users_selector {
    float: left;
}
.dir-rtl.path-grade-report-user .user-grade th {
    text-align:right;
}
.dir-rtl.path-grade-report-user .user-grade tbody .column-itemname {
    padding-right: 0;
    padding-left: 8px;
}
.dir-rtl.path-grade-report-user .user-grade .column-itemname.item,
.dir-rtl.path-grade-report-user .user-grade .gradeitemdescription {
    padding-right: 24px;
}
.dir-rtl.path-grade-report-user .user-grade .column-itemname.baggt,
.dir-rtl.path-grade-report-user .user-grade .column-itemname.baggb {
    padding-right: 24px;
}
