/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]


#mod_scorm-userreporttracks2 tbody tr td.c4result2{
    background: green;
}
#mod_scorm-userreporttracks2 tbody tr td.c4result1{
    background: red;
}


#attempts tbody tr td.scoreraw1{
    background: orange;
}
#attempts tbody tr td.scoreraw0{
    background: pink;
}
#attempts tbody tr td.scoreraw2{
    background: black;
}